{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title><u style="background-color: rgb(224, 209, 209);">ABOUT US</u></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'STYLES/aboutus.css' %}">
</head>
<body style="background-color:black;">
     
   <section class="heor">
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <div class="hero-content">
            <h2 style="color: bisque;"> Welcome to EXPENSY</h2>
            <p>, where financial management meets simplicity. Our platform is designed to empower you on your journey to financial well-being by providing a user-friendly and efficient solution for tracking and managing your expenses.

                In today's fast-paced world, staying in control of your finances is more critical than ever. EXPENSY is here to make that process not only easy but also enjoyable. We understand that managing expenses can be a daunting task, and that's why we've created a tool that streamlines the entire process, allowing you to focus on what matters most – your financial goals.
                
                Whether you're a seasoned budgeter or just starting your financial journey, our platform caters to users of all levels. With intuitive features, insightful reports, and a commitment to user-centric design, we've crafted an experience that puts you in the driver's seat of your financial success.
                
                At EXPENSY, we believe in the power of financial literacy and the impact it can have on your life. Our goal is to provide you with the tools and insights needed to make informed financial decisions, build healthy spending habits, and achieve your long-term objectives.
                
                Join us on this financial adventure, where managing your expenses becomes not just a routine, but a transformative step towards financial freedom. Let Expensy be your trusted companion as you navigate the path to a more secure and prosperous financial future. Start tracking, start thriving!</p>

                <button class="cta-button">Learn More</button>
        </div>
        <div class="hero-image">
            <img src="{% static 'IMAGES/E1.png' %}" alt="">
        </div>
    </div>
   </section>
</body>
</html>