
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'STYLES/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'STYLES/responsive.css' %}" />
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}

 <!-- Header -->
 <header>
    <div class="container">
      <div class="header-left">
        <img
          class="logo"
          src="https://prog-8.com/images/html/advanced/main_logo.png"
        />
      </div>
      <span class="fa fa-bars menu-icon"></span>
      <div class="header-right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'dashboard' %}">MENU</a>
        
        <a href="/aboutus" class="login">ABOUT US</a>
        <a href="/contact" >CONTACT US</a>
        <a href="/helpus" >HELP?</a>
        {% endif %}
      </div>
    </div>
  </header>

  
   <!-- Top -->
   <div class="top-wrapper">
    <div class="container">
     

      {% if user.is_authenticated %}
    
      <h1>Hello {{fname}}</h1>
      <h1>You have succesfully logged in.</h1>
      <a href="{% url 'signout' %}">SignOut</a>
  
      {% else %}
      <div class="btn-wrapper">
      <button type=""><a href="/signup" class="btn signup">SignUp</a></button>
      <button type=""><a href="/signin" class="btn signup">SignIn</a></button>
      </div>
      {% endif %}


      <p>Take control of your financial journey with our intuitive Expense Tracker </p>
      <p>
         where every penny finds its purpose!
      </p>
     
    </div>
  </div>

  <!-- Lesson -->
  <div class="lesson-wrapper">
    <div class="container" style="background-color: black;">
      <div class="heading" >
        <h2>LEARN WHAT WE OFFER!</h2>
      </div>
      <div class="lessons" style="background-color: rgb(59, 10, 92);">
        <div class="lesson">
          <div class="lesson-icon">
            <img src="https://prog-8.com/images/html/advanced/html.png" />
            <p><b>Expense Tracking</b></p>
          </div>
          <p class="text-contents" style="color: beige;">
            Users can input and categorize their expenses, including details such as date, amount, category, and description. 
            This functionality allows users to keep track of where their money is going and analyze spending patterns.
          </p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <img src="https://prog-8.com/images/html/advanced/jQuery.png" />
            <p><b>Income Tracking</b></p>
          </div>
          <p class="text-contents" style="color: beige;">
            Similar to expense tracking, users should be able to input and categorize their income sources, 
            enabling them to understand their cash flow and budget effectively.
          </p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <img src="https://prog-8.com/images/html/advanced/ruby.png" />
            <p><b>Budgeting</b></p>
          </div>
          <p class="text-contents" style="color: beige;">
            Users can set financial goals and allocate specific amounts of money to different spending categories or savings targets. 
            The website may provide visual representations, such as charts or graphs, to help users visualize their progress towards their budgeting goals.
          </p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <img src="https://prog-8.com/images/html/advanced/php.png" />
            <p><b>Reports and Analytics</b></p>
          </div>
          <p class="text-contents" style="color: beige;">
            Users can generate reports and view analytics that summarize their financial activity over time. 
            These reports may include trends, spending breakdowns by category, comparisons between actual spending and budgeted amounts, and insights into areas for potential savings.
          </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- Message -->
  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>Ready to start with your expense management ??</h2>
        <h3>let's start with our journey with Expensy....</h3>
      </div>
      <span class="btn message">Start Learning</span>
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="container">
      <img src="https://prog-8.com/images/html/advanced/footer_logo.png" />
      <p>Learn to code, learn to be creative.</p>
    </div>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </footer>

    
 <!-- { <h3>WELCOME TO EXPENSY </h3>

    {% if user.is_authenticated %}
    
    <h3>Hello {{fname}}</h3>
    <h4>You have succesfully logged in.</h4>
    <a href="{% url 'signout' %}">SignOut</a>

    {% else %}
    <button type=""><a href="/signup">SignUp</a></button>
    <button type=""><a href="/signin">SignIn</a></button>
   
    {% endif %}
}  -->

</body>
</html>
  
  
  
  



